QDialog {
    background-color: #333; /* Цвет фона окна */
}

QLineEdit {
    background-color: #444; /* Цвет фона поля ввода */
    color: #fff; /* Цвет текста в поле ввода */
    border: 2px solid #666; /* Обводка поля ввода */
    border-radius: 5px; /* Скругление углов поля ввода */
    padding: 5px; /* Отступы внутри поля ввода */
}

QLineEdit:focus {
    border: 2px solid #00aaff; /* Измененная обводка поля при фокусе */
}

QPushButton {
    background-color: #00aaff; /* Цвет фона кнопки */
    color: #fff; /* Цвет текста на кнопке */
    border: none; /* Убираем границу кнопки */
    border-radius: 5px; /* Скругление углов кнопки */
    padding: 5px 10px; /* Отступы внутри кнопки */
}

QPushButton:hover {
    background-color: #0088cc; /* Измененный цвет фона при наведении на кнопку */
}
